/* Main Container */
.mainContainer {
  min-height: 1200px;
  min-width: 1200px;
  width:100%;
  display: grid;
  grid-template-rows: 98px 1fr;
  grid-template-columns: 2fr 1fr;
  box-sizing: border-box;
}

/* NavBar */
.navbar {
  grid-area: 1 / 1 / span 1 / span 3;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid #d2d2d2;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

.messages {
  background-color: #1d1d1d;
  color: #FFFFFF;
  height: 30px;
  width: 100%;
  font-size: 13px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr)
}

.freeReturns {
  grid-area: 1 / 1 / span 1 / span 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.freeReturns:hover {
  cursor: pointer;
}

.utilityLinksContainer {
  grid-area: 1 / 5 / span 1 / span 1;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding-left: 50px;
  padding-right: 10px;
}

.utilityLinks:hover{
  cursor: pointer;
}

.US {
  margin-right:5px;
}

.americanFlag {
  height:12px;
  width:24px;
  margin-right: 5px;
}

.navbartop {
  height:76px;
  width:100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  background-color: #FFFFFF;
}

.navbarLogo {
  grid-area: 1 / 1 / span 1 / span 1;
  display:flex;
  align-items: center;
  padding-left: 10px;
}

.uaLogo {
  height:60px;
  width:63px;
}

.uaLogo:hover{
  cursor: pointer;
}

.navbartopLinks {
  grid-area: 1 / 1 / span 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
}

.individualNavLinks {
  margin-right: 40px;
}

.individualNavLinks:hover {
  cursor: pointer;
}

.navbarIconContainer {
  grid-area: 1 / 3 / span 1 / span 1;
  display: flex;
  align-items: center;
  padding-left: 120px;
}

.searchBar {
  height:28px;
  width:159px;
  border: 1px solid #d2d2d2;
  font-size:13px;
  font-family: 'Open Sans', sans-serif;
}

.searchBarIcon {
  height:30px;
  width:30px;
  display: flex;
  justify-content:center;
  align-items: center;
  border: 1px solid #d2d2d2;
  margin-right: 15px;
}

.searchBarIcon:hover{
  cursor: pointer;
}

.navbarIcons {
  font-size: 28px;
  margin-right: 15px;
}

.navbarIcons:hover {
  cursor: pointer;
}

/* Main Body */
.shoeContainer {
  grid-area: 2 / 1 / span 1 / span 3;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  font-family: 'Open Sans', sans-serif;
}

/* Shoe Display */
.shoeDisplay {
  background-color: #EEEEEE;
  grid-area: 1 / 1 / span 1 / span 3;
  display: grid;
  grid-template-rows: 35px repeat(5, 1fr);
  grid-template-columns: repeat(2, 100px) 1fr;
}

.shoeDisplayLeftMargin {
  grid-area: 1 / 1 / span 4 / span 1;
}

.heart {
  grid-area: 1 / 3 / span 1 / span 1;
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  padding-right: 15px;
  padding-top: 5px;
}

.shoeDisplayThumbnails {
  grid-area: 2 / 2 / span 3 / span 1;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}

.thumbnailImages {
  width: 75px;
  height: 91px;
}

.thumbnailImages:hover {
  cursor: pointer;
  border: solid 2px black;
  box-sizing: border-box;
}

.shoeDisplayMain {
  grid-area: 2 / 3 / span 3 / span 1;
  margin-left: -20px;
}

.mainShoeImage {
  width: 565px;
  height: 600px;
  /* box-sizing: border-box; */
}

.shoeDisplayFullDesc {
  background-color: #FFFFFF;
  grid-area: 5 / 1 / span 2 / span 3;
  display: flex;
  justify-content:center;
  padding-left: 100px;
  padding-top: 50px;
  padding-right: 80px;
  font-size:18px;
}

/* Shoe Info Section */
.shoeInfoContainer {
  background-color:#FFFFFF;
  grid-area: 1 / 4 / span 1 / span 2;
  display: grid;
  grid-template-rows: 30px 3fr 2fr;
  grid-template-columns: 1fr 60px;
  color: #1d1d1d;
}

.shoeInfo {
  grid-area: 2 / 1 / span 1 / span 1;
  padding-left: 25px;
  font-size:13px;
}

.shoeName {
  font-size: 24px;
  font-weight: 600;
}

.styleNumber {
  margin-top: 15px;
  color: #767676;
  line-height: 15px;
}

.price {
  font-size: 15px;
  margin-bottom: 30px;
}

.bold {
  font-weight: 600;
}

.shoeInfoThumbnail {
  width: 48px;
  height: 51px;
  margin-right: 5px;
  margin-top: 20px;
}

.shoeInfoThumbnail:hover {
  cursor: pointer;
  border: solid 2px #1d1d1d;
  box-sizing: border-box;
}

.selected {
  border: solid 2px #1d1d1d;
  box-sizing: border-box;
}

/* ShoeSizeDisplay Component */
.shoeSizeContainer {
  margin-top: 20px;
}

.shoeSizeList {
  list-style: none;
  padding-left: 0px;
  margin-right: 40px;
}

.shoeSizeSquare {
  width: 40px;
  height: 30px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  padding:6px;
  margin-right: 7px;
  margin-bottom: 7px;
  box-sizing: border-box;
}

.available {
  border: 1px solid #d2d2d2;
  color: #5a5a5a;
}

.available:hover {
  cursor: pointer;
  border: solid 1px #1d1d1d;
}

.unavailable {
  border: 1px solid #f0f0f0;
  color: #d2d2d2
}

.unavailable:hover {
  cursor: not-allowed;
}

.qty {
  margin-top: 20px;
  margin-bottom: 10px;
}

.addtocartQuantity {
  width: 100px;
  height: 50px;
  font-size: 15px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #767676;
}

.addtobagButton {
  width: 185px;
  height: 50px;
  display: inline-block;
  margin-left: 25px;
  font-size: 14px;
  background-color: #e51b24;
  color: #ffffff;
}

.addtobagButton:hover {
  background-color: #1d1d1d;
  cursor: pointer;
}

.otherCheckoutButtons {
  width: 310px;
  height: 50px;
  background-color: #f0f0f0;
  color: #1d1d1d;
  margin-top: 20px;
  font-size: 15px;
}

.otherCheckoutButtons:hover {
  opacity: .8;
  cursor: pointer;
}

.shoeInfoRightMargin {
  background-color: #EEEEEE;
  grid-area: 1 / 2 / span 2 / span 1;
}